{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h2 class="text-center text-primary mb-4">Add Expense</h2>
                
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        {{ form.category }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Amount</label>
                        {{ form.amount }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        {{ form.description }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        {{ form.date }}  
                    </div>

                    <button type="submit" class="btn btn-success w-100">💰 Add Expense</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer >
    <p>Made with ❤️ by <strong>Amogh Shukla</strong></p>
</footer>

<style>
    body {
        background-color: #f8f9fa;
    }
    
    .card {
        border-radius: 12px;
        border: none;
        background: #fff;
    }

    .form-label {
        font-weight: 600;
    }

    select, input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 16px;
    }

    button {
        font-size: 18px;
        padding: 10px;
        border-radius: 8px;
    }

    footer {
        color: #0f0505;
        text-align: center;
        padding: 15px;
        margin-top: 100px; 
    }

    footer p {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
    }
</style>
{% endblock %}
